@import 'fonts';
@import 'colours';
@import 'mats_mixins';

$xlarge: "screen and (min-width: 1900px)";
$large: "screen and (min-width: 1200px)";
$tablet: "screen and (min-width: 768px)";

$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";

$govuk-blue: #005ea5;

/* ******************************************************** */

html {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: none;
	font-family: "nta", Arial, sans-serif;
    font-weight: bold;
    line-height: 1.18;
	color: $white;
    font-size: 25px;
    @media #{$tablet} {
        font-size: 45px;
    }
    @media #{$large} {
        font-size: 56px;
    }
    @media #{$xlarge} {
        font-size: 80px;
    }
}

.item {
    position: absolute;
    box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: -100%;
    background-color: $govuk-blue;
	-webkit-transform: translateZ(0);
	transition: top 0.75s ease-out;
	&.now {
		top: 0%;
		z-index: 2;
	}
	&.prev {
		top: 100%;
		z-index: 1;
	}
}

.item-container {
    @extend %total-center;
    padding: 0 8%;
    @media #{$tablet} and #{$landscape} {
        padding: 0;
    }
}

.item-content {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
}

/* ******************************************************** */

// #1 Historic totals

.total {
    white-space: normal;
    @media #{$landscape}, #{tablet} {
        white-space: nowrap;
    }
}
/* cheeky text spacing */
.shunt {
    margin-right: 0.75em;
}
.online-vs-paper {
    @media #{$landscape} {
        display: inline;
    }
}

.lpa-applications {
    background-color: $fuschia;
    .item-content {
        @media #{$tablet} and #{$landscape} {
            padding-left: 150px;
            //background-image: url('../images/icon_lpa.svg');
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjQ0IDI5NSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQ0IDI5NSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8ZGVmcz4NCgkJPHJlY3QgaWQ9IlNWR0lEXzFfIiB4PSIyIiB5PSIyIiB3aWR0aD0iMjQwIiBoZWlnaHQ9IjI5MSIvPg0KCTwvZGVmcz4NCgk8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4NCgkJPHVzZSB4bGluazpocmVmPSIjU1ZHSURfMV8iICBvdmVyZmxvdz0idmlzaWJsZSIvPg0KCTwvY2xpcFBhdGg+DQoJPHBhdGggY2xpcC1wYXRoPSJ1cmwoI1NWR0lEXzJfKSIgZmlsbD0iI0ZGRkZGRiIgZD0iTTk3LjExMiw1Mi43NjZoOC43ODlsLTQuMzU5LTE0LjIwM2gtMC4wOTRMOTcuMTEyLDUyLjc2NnogTTEwNy43MjksNTguNzY2DQoJCUg5NS4yODRMOTMuMzg2LDY1aC03LjIxOWwxMC45OTItMzMuNjA5aDguOTNMMTE3LjI0Niw2NWgtNy41OTVMMTA3LjcyOSw1OC43NjZ6IE03Ny40MzksNDIuNDNjMC0wLjc5Ny0wLjE0LTEuNTAyLTAuNDIxLTIuMTIxDQoJCWMtMC4yODItMC42MTYtMC42ODktMS4xNDMtMS4yMTktMS41ODJjLTAuNTMyLTAuNDM2LTEuMTcyLTAuNzY4LTEuOTIyLTAuOTk3Yy0wLjc1LTAuMjI0LTEuNTk0LTAuMzM5LTIuNTMxLTAuMzM5aC00LjgwNVY0Ny42OA0KCQloNC44MDVjMC45MzcsMCwxLjc4MS0wLjExMiwyLjUzMS0wLjM0YzAuNzUtMC4yMjUsMS4zOS0wLjU1NywxLjkyMi0wLjk5NmMwLjUzLTAuNDM2LDAuOTM3LTAuOTYzLDEuMjE5LTEuNTgyDQoJCWMwLjI4MS0wLjYxNiwwLjQyMS0xLjMyNCwwLjQyMS0yLjEyMVY0Mi40M3ogTTU5Ljc0NCwzMS4zOTFoMTMuNDNjMS43MzQsMCwzLjMsMC4yODcsNC42OTksMC44NTUNCgkJYzEuMzk4LDAuNTcyLDIuNTgxLDEuMzU0LDMuNTUxLDIuMzQ0YzAuOTY4LDAuOTk0LDEuNzE0LDIuMTY4LDIuMjM4LDMuNTI3YzAuNTIzLDEuMzYsMC43ODUsMi44MzYsMC43ODUsNC40Mw0KCQljMCwxLjU5NC0wLjI4NiwzLjA3LTAuODU1LDQuNDNjLTAuNTcxLDEuMzU5LTEuMzc2LDIuNTM3LTIuNDE0LDMuNTI3Yy0xLjA0LDAuOTk0LTIuMjg1LDEuNzY5LTMuNzM5LDIuMzMyDQoJCWMtMS40NTMsMC41NjItMy4wNTUsMC44NDQtNC44MDQsMC44NDRoLTYuMDk0VjY1aC02Ljc5N1YzMS4zOTF6IE0zMy4wMTYsMzEuMzkxaDYuNzk3djI3LjMyOGgxMy4zMTJWNjVIMzMuMDE2VjMxLjM5MXogTTI0MiwyOTMNCgkJVjYyaC0zMHY4aDIydjIxNUg3MHYtMjJoLTh2MzBIMjQyeiBNMzIsMjYzdi0zMGg4djIyaDE2NFY0MGgtMjJ2LThoMzB2MjMxSDMyeiBNMTc0LDIyNUgxMFYxMGgxNjRWMjI1eiBNMiwyMzNoMTgwVjJIMlYyMzN6Ii8+DQo8L2c+DQo8L3N2Zz4NCg==);
            background-repeat: no-repeat;
            background-size: 120px auto;
            background-position: 0 50%;
        }
        @media #{$xlarge} {
            padding-left: 330px;
            background-size: 240px auto;
        }
    }
}
.carers-claims {
    background-color: $turquoise;
    .item-content {
        @media #{$tablet} and #{$landscape} {
            padding-left: 150px;
            //background-image: url('../images/icon_carers.svg');
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjQ0IDI5NSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQ0IDI5NSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8Zz4NCgkJPGRlZnM+DQoJCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHg9IjIiIHk9IjIiIHdpZHRoPSIyNDAiIGhlaWdodD0iMjkxLjAwMSIvPg0KCQk8L2RlZnM+DQoJCTxjbGlwUGF0aCBpZD0iU1ZHSURfMl8iPg0KCQkJPHVzZSB4bGluazpocmVmPSIjU1ZHSURfMV8iICBvdmVyZmxvdz0idmlzaWJsZSIvPg0KCQk8L2NsaXBQYXRoPg0KCQkNCgkJCTxyZWN0IHg9IjUuNzUiIHk9IjUuNzUxIiBjbGlwLXBhdGg9InVybCgjU1ZHSURfMl8pIiBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iNy41IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHdpZHRoPSIxNzIuNSIgaGVpZ2h0PSIyMjMuNSIvPg0KCTwvZz4NCgk8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjMyLDI2My4wMDEgMzIsMjMzLjAwMSA0MCwyMzMuMDAxIDQwLDI1NS4wMDEgMjA0LDI1NS4wMDEgMjA0LDQwLjAwMSAxODIsNDAuMDAxIDE4MiwzMi4wMDEgDQoJCTIxMiwzMi4wMDEgMjEyLDI2My4wMDEgCSIvPg0KCTxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMjEyLDYyLjAwMSAyMTIsNzAuMDAxIDIzNC4wMDEsNzAuMDAxIDIzNC4wMDEsMjg1LjAwMSA3MC4wMDEsMjg1LjAwMSA3MC4wMDEsMjYzLjAwMiANCgkJNjIuMDAxLDI2My4wMDIgNjIuMDAxLDI5My4wMDEgMjQyLjAwMSwyOTMuMDAxIDI0Mi4wMDEsNjIuMDAxIAkiLz4NCgk8Zz4NCgkJPGRlZnM+DQoJCQk8cmVjdCBpZD0iU1ZHSURfM18iIHg9IjIiIHk9IjIiIHdpZHRoPSIyNDAiIGhlaWdodD0iMjkxLjAwMSIvPg0KCQk8L2RlZnM+DQoJCTxjbGlwUGF0aCBpZD0iU1ZHSURfNF8iPg0KCQkJPHVzZSB4bGluazpocmVmPSIjU1ZHSURfM18iICBvdmVyZmxvdz0idmlzaWJsZSIvPg0KCQk8L2NsaXBQYXRoPg0KCQk8cGF0aCBjbGlwLXBhdGg9InVybCgjU1ZHSURfNF8pIiBmaWxsPSIjRkZGRkZGIiBkPSJNMTM1Ljg5OSw0Ny4zNjVjMC4zODcsMC4zNjMsMC44NTUsMC43MjYsMS40MDYsMS4wOQ0KCQkJYzAuNTUxLDAuMzYzLDEuMTY5LDAuNjg4LDEuODU1LDAuOTc1YzAuNjg1LDAuMjg3LDEuNDI5LDAuNTEzLDIuMjMyLDAuNjc3YzAuODAzLDAuMTY0LDEuNjYxLDAuMjQ2LDIuNTc1LDAuMjQ2DQoJCQljMS4xOTYsMCwyLjI2Mi0wLjE2MSwzLjItMC40ODNjMC45MzctMC4zMjMsMS43MjItMC43NjUsMi4zNTUtMS4zMjhjMC42MzMtMC41NjIsMS4xMTMtMS4yMDQsMS40NDItMS45MjQNCgkJCWMwLjMyOC0wLjcyMSwwLjQ5Mi0xLjQ4LDAuNDkyLTIuMjc3YzAtMS40MjktMC40MjItMi42MTMtMS4yNjYtMy41NWMtMC44NDQtMC45MzgtMi4yMzgtMS42ODItNC4xODMtMi4yMzNsLTIuMDQtMC41OA0KCQkJYy0wLjcwMy0wLjE4OC0xLjIzOS0wLjQxLTEuNjA4LTAuNjYzYy0wLjM2OS0wLjI1My0wLjU1NC0wLjU4Ni0wLjU1NC0wLjk5OWMwLTAuMzg5LDAuMjExLTAuNzIyLDAuNjMzLTAuOTk5DQoJCQljMC40MjItMC4yNzYsMS4wMTQtMC40MTUsMS43NzYtMC40MTVjMC44MiwwLDEuNjM3LDAuMTU2LDIuNDUyLDAuNDY2YzAuODE0LDAuMzExLDEuNTIsMC42ODQsMi4xMTgsMS4xMThsMi41MzEtMy4yMTkNCgkJCWMtMC43MjctMC42MzMtMS43Mi0xLjIwMS0yLjk3OS0xLjcwNWMtMS4yNi0wLjUwNC0yLjY5My0wLjc1Ni00LjI5OC0wLjc1NmMtMS4xMjUsMC0yLjE0NSwwLjE1OC0zLjA1OSwwLjQ3NQ0KCQkJYy0wLjkxNCwwLjMxNi0xLjY5LDAuNzQ0LTIuMzI5LDEuMjgzYy0wLjYzOSwwLjUzOS0xLjEzMSwxLjE2My0xLjQ3NiwxLjg3MmMtMC4zNDYsMC43MDktMC41MTksMS40NTYtMC41MTksMi4yNDENCgkJCWMwLDAuOTg1LDAuMTc5LDEuODE0LDAuNTM2LDIuNDg4YzAuMzU3LDAuNjc0LDAuODI2LDEuMjQ1LDEuNDA2LDEuNzEzYzAuNTgsMC40NjksMS4yMTYsMC44NDcsMS45MDgsMS4xMzQNCgkJCWMwLjY5MSwwLjI4NywxLjM3NiwwLjUxMywyLjA1NiwwLjY3N2wxLjM3MSwwLjM2OWMxLjU4MiwwLjQxLDIuMzczLDAuOTg0LDIuMzczLDEuNzIzYzAsMC40MzMtMC4yMDUsMC43ODgtMC42MTUsMS4wNjMNCgkJCWMtMC40MSwwLjI3Ni0wLjk3MywwLjQxMy0xLjY4NywwLjQxM2MtMC45ODUsMC0xLjk1OC0wLjIyMy0yLjkxOC0wLjY2OWMtMC45NjEtMC40NDYtMS43ODgtMC45OC0yLjQ3OS0xLjYwMkwxMzUuODk5LDQ3LjM2NXoNCgkJCSBNMTI3LjcxOCwyNC42OGMtMC4zODYsMC4xNTgtMC43MjYsMC4zNzItMS4wMTksMC42NDJjLTAuMjkzLDAuMjY5LTAuNTI1LDAuNTg5LTAuNjk1LDAuOTU4Yy0wLjE3LDAuMzY5LTAuMjU0LDAuNzY0LTAuMjU0LDEuMTg2DQoJCQljMCwwLjQ1NywwLjA3NiwwLjg2MiwwLjIyOCwxLjIxM2MwLjE1MiwwLjM1MiwwLjM1NCwwLjY0NSwwLjYwNiwwLjg3OWMwLjI1MiwwLjIzNSwwLjU0NSwwLjQxMywwLjg3OSwwLjUzNg0KCQkJYzAuMzM0LDAuMTIzLDAuNjg5LDAuMTg1LDEuMDY0LDAuMTg1YzAuMjIyLDAsMC40MzMtMC4wMjcsMC42MzMtMC4wNzljMC4xOTktMC4wNTMsMC4zNjMtMC4xMzgsMC40OTItMC4yNTUNCgkJCWMtMC4wMzUsMC4yMTEtMC4xMDksMC40MzctMC4yMiwwLjY3N2MtMC4xMTEsMC4yNC0wLjI4NCwwLjQ4My0wLjUxOCwwLjcyOWMtMC4yMzUsMC4yNDYtMC41NDgsMC40ODEtMC45NDEsMC43MDMNCgkJCWMtMC4zOTMsMC4yMjMtMC44OTQsMC40MjItMS41MDMsMC41OThsLTAuNDkyLDAuMTRsMC42MTUsMS44NDZjMS4xMjUtMC4xMjksMi4wNjYtMC40MDQsMi44MjItMC44MjYNCgkJCWMwLjc1NS0wLjQyMiwxLjM2NS0wLjkyMywxLjgyOC0xLjUwM2MwLjQ2Mi0wLjU4LDAuNzkxLTEuMjA3LDAuOTg0LTEuODgxYzAuMTkzLTAuNjc0LDAuMjktMS4zMjcsMC4yOS0xLjk2DQoJCQljMC0wLjU2Mi0wLjA4NS0xLjA4Ny0wLjI1NS0xLjU3M2MtMC4xNy0wLjQ4Ni0wLjQxLTAuOTExLTAuNzItMS4yNzRjLTAuMzExLTAuMzY0LTAuNjg2LTAuNjUxLTEuMTI1LTAuODYyDQoJCQljLTAuNDQtMC4yMTEtMC45MzUtMC4zMTYtMS40ODYtMC4zMTZDMTI4LjUwOSwyNC40NDMsMTI4LjEwNSwyNC41MjIsMTI3LjcxOCwyNC42OCBNMTIxLjExOSwzMC44NDFoLTAuNzINCgkJCWMtMC42MSwwLTEuMTc4LDAuMDcxLTEuNzA1LDAuMjExYy0wLjUyOCwwLjE0MS0xLjAwMiwwLjMyNS0xLjQyNCwwLjU1NGMtMC40MjIsMC4yMjgtMC43OTEsMC40ODktMS4xMDgsMC43ODINCgkJCWMtMC4zMTYsMC4yOTMtMC41NzQsMC41OTgtMC43NzMsMC45MTR2LTIuMTI3aC00Ljg1MnYxOC44MjZoNC44NTJ2LTkuMTRjMC0xLjAwOCwwLjE0My0xLjgzNCwwLjQzMS0yLjQ3OQ0KCQkJYzAuMjg3LTAuNjQ0LDAuNjctMS4xNTEsMS4xNTEtMS41MmMwLjQ4LTAuMzY5LDEuMDM0LTAuNjI0LDEuNjYxLTAuNzY1YzAuNjI3LTAuMTQsMS4yODYtMC4yMTEsMS45NzgtMC4yMTFoMC41MDlWMzAuODQxeg0KCQkJIE05OS40NzUsMzYuMDYyYzAuNzAzLDAuNjkyLDEuMDY2LDEuNTM1LDEuMDksMi41MzFIOTIuOTdjMC4xMTctMC45ODQsMC41MzYtMS44MjUsMS4yNTctMi41MjINCgkJCWMwLjcyLTAuNjk3LDEuNjAyLTEuMDQ2LDIuNjQ1LTEuMDQ2Qzk3LjkwMywzNS4wMjUsOTguNzcxLDM1LjM3MSw5OS40NzUsMzYuMDYyIE0xMDUuNjYxLDQyLjI2N1Y0MC4wNw0KCQkJYzAtMS4zNzEtMC4yMjMtMi42MjUtMC42NjktMy43NjJjLTAuNDQ1LTEuMTM2LTEuMDYxLTIuMTEyLTEuODQ3LTIuOTI3Yy0wLjc4Ni0wLjgxNC0xLjcxMy0xLjQ0Ny0yLjc4LTEuODk4DQoJCQljLTEuMDY4LTAuNDUxLTIuMjIzLTAuNjc3LTMuNDY2LTAuNjc3Yy0xLjMzOCwwLTIuNTU4LDAuMjQ5LTMuNjYsMC43NDdjLTEuMTAzLDAuNDk4LTIuMDUsMS4xODctMi44NDIsMi4wNjYNCgkJCXMtMS40MDgsMS45MTYtMS44NDgsMy4xMTFjLTAuNDQsMS4xOTUtMC42NTksMi40ODUtMC42NTksMy44NjdjMCwxLjUxMiwwLjI0OSwyLjg3MSwwLjc0OCw0LjA3OA0KCQkJYzAuNDk4LDEuMjA3LDEuMTc4LDIuMjMzLDIuMDQxLDMuMDc2YzAuODYyLDAuODQ0LDEuODY4LDEuNDg5LDMuMDE4LDEuOTM0YzEuMTQ5LDAuNDQ1LDIuMzc1LDAuNjY4LDMuNjc3LDAuNjY4DQoJCQljMS40NDMsMCwyLjgwNC0wLjIyOSw0LjA4My0wLjY4NmMxLjI3OC0wLjQ1NywyLjM1Ny0xLjA1NCwzLjIzNy0xLjc5M2wtMi4zMzctMy4zOTVjLTAuNjkzLDAuNTI5LTEuNDU2LDAuOTMxLTIuMjksMS4yMDYNCgkJCWMtMC44MzQsMC4yNzYtMS42MDgsMC40MTQtMi4zMjQsMC40MTRjLTAuNjIzLDAtMS4yMS0wLjA5NC0xLjc2Mi0wLjI4MmMtMC41NTItMC4xODktMS4wMzktMC40NS0xLjQ2Mi0wLjc4Ng0KCQkJYy0wLjQyMi0wLjMzNi0wLjc3Mi0wLjczOS0xLjA0Ny0xLjIxYy0wLjI3Ni0wLjQ3MS0wLjQ1NS0wLjk4OS0wLjUzNy0xLjU1NEgxMDUuNjYxeiBNODQuMDUxLDMwLjg0MUg4My4zMw0KCQkJYy0wLjYwOSwwLTEuMTc4LDAuMDcxLTEuNzA1LDAuMjExYy0wLjUyNywwLjE0MS0xLjAwMiwwLjMyNS0xLjQyNCwwLjU1NGMtMC40MjIsMC4yMjgtMC43OTEsMC40ODktMS4xMDcsMC43ODINCgkJCWMtMC4zMTcsMC4yOTMtMC41NzUsMC41OTgtMC43NzQsMC45MTR2LTIuMTI3aC00Ljg1MXYxOC44MjZoNC44NTF2LTkuMTRjMC0xLjAwOCwwLjE0NC0xLjgzNCwwLjQzMS0yLjQ3OQ0KCQkJYzAuMjg3LTAuNjQ0LDAuNjcxLTEuMTUxLDEuMTUxLTEuNTJjMC40ODEtMC4zNjksMS4wMzQtMC42MjQsMS42NjEtMC43NjVjMC42MjctMC4xNCwxLjI4Ni0wLjIxMSwxLjk3OC0wLjIxMWgwLjUxVjMwLjg0MXoNCgkJCSBNNjQuOTAyLDQ5LjY1OWMwLjUzOSwwLjM2OSwxLjI1NCwwLjYsMi4xNDUsMC42OTRsMi4xOTctMy40OGMtMC41MDQtMC4yMjMtMC45LTAuNDY2LTEuMTg3LTAuNzMNCgkJCWMtMC4yODctMC4yNjQtMC40My0wLjY3MS0wLjQzLTEuMjIydi03LjczNGMwLTEuMjc3LTAuMjI5LTIuMzI5LTAuNjg2LTMuMTU1cy0xLjA0Ni0xLjQ4LTEuNzY2LTEuOTYNCgkJCWMtMC43MjEtMC40ODEtMS41MjQtMC44MTItMi40MDktMC45OTNjLTAuODg1LTAuMTgyLTEuNzYtMC4yNzMtMi42MjgtMC4yNzNjLTEuNDE4LDAtMi43ODYsMC4xOTMtNC4xMDQsMC41OA0KCQkJYy0xLjMxOCwwLjM4Ny0yLjUxNywwLjg3OS0zLjU5NSwxLjQ3N2wxLjg5OSwzLjcwOWMwLjI5Mi0wLjE0MSwwLjYzMi0wLjMwMiwxLjAxOS0wLjQ4NGMwLjM4Ny0wLjE4MSwwLjgwNi0wLjM0MiwxLjI1Ny0wLjQ4Mw0KCQkJczAuOTIzLTAuMjY2LDEuNDE1LTAuMzc4YzAuNDkyLTAuMTExLDAuOTc4LTAuMTY3LDEuNDU5LTAuMTY3YzEuMTYsMCwxLjk5OCwwLjI0NiwyLjUxNCwwLjczOA0KCQkJYzAuNTE1LDAuNDkzLDAuNzczLDEuMTYsMC43NzMsMi4wMDR2MC4zNTJsLTUuNDE0LDAuNzkxYy0xLjY1MiwwLjI0Ni0yLjk0NywwLjg1LTMuODg1LDEuODENCgkJCWMtMC45MzcsMC45NjEtMS40MDYsMi4xOTgtMS40MDYsMy43MDljMCwwLjgzMywwLjE3LDEuNjAzLDAuNTEsMi4zMTJzMC44MDgsMS4zMzMsMS40MDYsMS44NzINCgkJCWMwLjU5OCwwLjUzOSwxLjI5MiwwLjk1OCwyLjA4MywxLjI1N2MwLjc5MSwwLjI5OSwxLjY1NSwwLjQ0OCwyLjU5MywwLjQ0OGMwLjY1NiwwLDEuMjQ4LTAuMDcsMS43NzUtMC4yMTENCgkJCWMwLjUyOC0wLjE0MSwwLjk4Ny0wLjMxMywxLjM4LTAuNTE4YzAuMzkzLTAuMjA1LDAuNzMyLTAuNDM0LDEuMDItMC42ODZjMC4yODctMC4yNTIsMC41My0wLjQ4OSwwLjcyOS0wLjcxMg0KCQkJQzYzLjkxNyw0OC44MTIsNjQuMzYzLDQ5LjI5LDY0LjkwMiw0OS42NTkgTTYyLjc3NCw0MS43NHYxLjg5OGMwLDAuODY4LTAuMjY0LDEuNTY1LTAuNzkzLDIuMDkyDQoJCQljLTAuNTI5LDAuNTI3LTEuMjUzLDAuNzkxLTIuMTY5LDAuNzkxYy0wLjg3LDAtMS41MjktMC4yMi0xLjk3NS0wLjY1OWMtMC40NDctMC40NC0wLjY3LTAuOTY0LTAuNjctMS41NzMNCgkJCWMwLTAuNTUxLDAuMTgyLTAuOTg4LDAuNTQ2LTEuMzFjMC4zNjQtMC4zMjIsMC44NDctMC41MywxLjQ0Ni0wLjYyNEw2Mi43NzQsNDEuNzR6IE0yNi42ODgsNDIuNDc4DQoJCQljMC41NDUsMS41NywxLjMyNywyLjk0MiwyLjM0Nyw0LjExM2MxLjAxOSwxLjE3MiwyLjI1NSwyLjA5MiwzLjcwOSwyLjc2YzEuNDUzLDAuNjY4LDMuMDg3LDEuMDAyLDQuOTA0LDEuMDAyDQoJCQljMS4zMTIsMCwyLjUyOC0wLjE2NywzLjY0Ny0wLjUwMXMyLjEyNy0wLjgxNCwzLjAyNC0xLjQ0MWMwLjg5Ni0wLjYyNywxLjY2Ny0xLjM4LDIuMzExLTIuMjU5DQoJCQljMC42NDUtMC44NzksMS4xNTQtMS44NjMsMS41My0yLjk1M2wtNC45MDUtMS42MTdjLTAuMTQsMC40NjgtMC4zNjMsMC45NDktMC42NjgsMS40NDFjLTAuMzA0LDAuNDkyLTAuNjkxLDAuOTQtMS4xNiwxLjM0NQ0KCQkJYy0wLjQ2OSwwLjQwNC0xLjAxNywwLjczNS0xLjY0MywwLjk5M2MtMC42MjcsMC4yNTgtMS4zMjcsMC4zODctMi4xMDEsMC4zODdjLTEuMTYsMC0yLjE1My0wLjIzOC0yLjk3OS0wLjcxMg0KCQkJYy0wLjgyNy0wLjQ3NS0xLjUwMy0xLjA5OS0yLjAzMS0xLjg3MmMtMC41MjctMC43NzQtMC45MTctMS42NTYtMS4xNjktMi42NDZjLTAuMjUyLTAuOTktMC4zNzgtMi4wMDctMC4zNzgtMy4wNXYtMC4xNA0KCQkJYzAtMS4wMzEsMC4xMjYtMi4wNDIsMC4zNzgtMy4wMzNjMC4yNTItMC45OSwwLjY0Mi0xLjg3NCwxLjE2OS0yLjY1NGMwLjUyOC0wLjc3OSwxLjIwNC0xLjQwNiwyLjAzMS0xLjg4MQ0KCQkJYzAuODI2LTAuNDc0LDEuODE5LTAuNzEyLDIuOTc5LTAuNzEyYzAuNzc0LDAsMS40NzQsMC4xMjksMi4xMDEsMC4zODdjMC42MjYsMC4yNTgsMS4xNzQsMC41ODksMS42NDMsMC45OTMNCgkJCWMwLjQ2OSwwLjQwNCwwLjg1NiwwLjg1NiwxLjE2LDEuMzU0YzAuMzA1LDAuNDk4LDAuNTI4LDAuOTgxLDAuNjY4LDEuNDVsNC45MDUtMS42MzVjLTAuMzc2LTEuMDktMC44ODUtMi4wNzQtMS41My0yLjk1Mw0KCQkJYy0wLjY0NC0wLjg3OS0xLjQxNS0xLjYyOS0yLjMxMS0yLjI1Yy0wLjg5Ny0wLjYyMS0xLjkwNS0xLjEwMS0zLjAyNC0xLjQ0MXMtMi4zMzUtMC41MS0zLjY0Ny0wLjUxDQoJCQljLTEuODE3LDAtMy40NTEsMC4zMzctNC45MDQsMS4wMTFjLTEuNDU0LDAuNjc0LTIuNjksMS41OTMtMy43MDksMi43NTljLTEuMDIsMS4xNjctMS44MDIsMi41MzgtMi4zNDcsNC4xMTQNCgkJCWMtMC41NDUsMS41NzYtMC44MTcsMy4yNjYtMC44MTcsNS4wNzFDMjUuODcxLDM5LjIxNSwyNi4xNDMsNDAuOTA4LDI2LjY4OCw0Mi40NzgiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==);
            background-repeat: no-repeat;
            background-size: 120px auto;
            background-position: 0 50%;
        }
        @media #{$xlarge} {
            padding-left: 330px;
            background-size: 240px auto;
        }
    }
}

.prison-visits {
    background-color: $black;
    .item-content {
        @media #{$tablet} and #{$landscape} {
            padding-left: 150px;
            background-image: url('../images/icon_prison_visits.svg');
            background-repeat: no-repeat;
            background-size: 120px auto;
            background-position: 0 50%;
        }
        @media #{$xlarge} {
            padding-left: 330px;
            background-size: 240px auto;
        }
    }
}
.civil-claims {
    background-color: $black;
    .item-content {
        @media #{$tablet} and #{$landscape} {
            padding-left: 150px;
            background-image: url('../images/icon_civil_claims.svg');
            background-repeat: no-repeat;
            background-size: 120px auto;
            background-position: 0 50%;
        }
        @media #{$xlarge} {
            padding-left: 330px;
            background-size: 240px auto;
        }
    }
}

/* ******************************************************** */

// #2 SORN / Tax Disc

.sorn, .tax-disc, .register-to-vote {
    background-color: $green;
    .push {
        @media #{$tablet} and #{$landscape} {
            padding-left: 245px;
        }
        @media #{$large} {
            padding-left: 325px;
        }
        @media #{$xlarge} {
            padding-left: 375px;
        }
    }
}

.register-to-vote {
    background-color: $fuschia;
}

.car {
    position: absolute;
    left: -999em;
    top: -999em;
    @media #{$tablet} and #{$landscape} {
        position: static;
        margin-right: 30px;
        width: 195px;
    }
    @media #{$large} {
        width: 265px;
    }
    @media #{$xlarge} {
        width: 305px;
    }
}
.users-count {
    display: block;
    height: 1.1em;
    @media #{$tablet} and #{$landscape} {
        display: inline-block;
        height: 0.9em;
    }
}
/* pie charts */
.user-satisfaction-pie {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    @media #{$tablet} {
        width: 34px;
        height: 34px;
    }
    @media #{$large} {
        width: 44px;
        height: 44px;
    }
    @media #{$xlarge} {
        width: 56px;
        height: 56px;
        margin-right: 12px;
    }
}


/* ******************************************************** */

// #3 Narrative

.narrative {
    padding: 0 5%;
}
.narrative-content > div {
    display: inline;
    @media #{$large} {
        display: block;
    }
}


/* ******************************************************** */

// #4 Proportion

.proportion {
    color: $black;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: left;
    .title {
        position: relative;
        z-index: 1;
        padding: 1em 3% 0 3%;
    }
}
.proportion-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.proportion-unit {
    position: absolute;
    top: 0;
    bottom: 0;
    &.mobile-devices {
        color: $white;
        background-color: $link-active-colour;
    }
    &.desktop {
        background-color: $grey-2;
    }
}
.proportion-unit-content {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
    img {
        max-width: 80%;
        display: block;
        margin: 0 auto 0.25em auto;
        @media #{$tablet} {
            max-width: 100%;
            margin-bottom: 0.5em;
        }
    }
}


/* ******************************************************** */

/* text sizing */
.big-280 {
    font-size: 265%;
    @media #{$tablet} {
        font-size: 350%;
    }
}
.big-340 {
    font-size: 210%;
    @media #{$tablet} {
        font-size: 290%;
    }
    @media #{$large} {
        font-size: 375%;
    }
    /*@media #{$xlarge} {
        font-size: 425%;
    }*/
}
.big-480 {
    font-size: 500%;
    line-height: 1.2;
    @media #{$tablet} {
        font-size: 700%;
        line-height: 1;
    }
    /*@media #{$large} {
        font-size: 600%;
        line-height: 1;
    }
    @media #{$xlarge} {
        font-size: 600%;
        line-height: 1;
    }*/
}

.breaker {
    display: inline;
    @media #{$tablet} {
        display: block;
    }
}


/* ******************************************************** */

/* GOV.UK logo */
.crown {
    top: 2px;
    width: 30px;
    @media #{$tablet} {
        width: 50px;
    }
    @media #{$large} {
        width: 65px;
    }
    @media #{$xlarge} {
        width: 96px;
    }
}
.govuk {
    font-size: 95%;
    text-transform: uppercase;
    &.dot {
        position: relative;
        margin-left: -0.09em;
    }
}

/* ******************************************************** */

.pp-powered {
    font-size: 45%;
    padding-top: 1em;
}

.offline-demo {
  display: block;
  margin-top: 0.5em;
  font-size: 75%;
  font-weight: normal;
}
