@import 'fonts';
@import 'colours';
@import 'mats_mixins';

$govuk-blue: #005ea5;

%title-underline {
    display: inline-block;
    line-height: 0.8;
    border-bottom: 3px solid;
}

/* ******************************************************** */

html {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /*cursor: none;*/
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
    font-weight: bold;
    line-height: 1.18;
	color: $white;
}

.item {
    position: absolute;
    box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: -100%;
    background-color: $govuk-blue;
	-webkit-transform: translateZ(0);
	transition: top 0.75s ease-out;
	&.now {
		top: 0%;
		z-index: 2;
	}
	&.prev {
		top: 100%;
		z-index: 1;
	}
}

.item-container {
    @extend %total-center;
}

.item-content {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
}


/* ******************************************************** */

/* key colours / iconography */
.sorn, .tax-disc {
    background-color: $green;
}
.lpa-applications {
    background-color: $black;
    .item-content {
        padding-left: 330px;
        background-image: url('../images/icon_lpa.svg');
        background-repeat: no-repeat;
        background-size: 240px auto;
        background-position: 0 50%;
    }
}
.carers-claims {
    background-color: $turquoise;
    .item-content {
        padding-left: 330px;
        background-image: url('../images/icon_carers.svg');
        background-repeat: no-repeat;
        background-size: 240px auto;
        background-position: 0 50%;
    }
}


/* ******************************************************** */

/* Various item "types" */

/* Type #1 - realtime users and user satisfaction */
.realtime-users-and-satisfaction {
    font-size: 80px;
}
.car {
    margin-right: 30px;
}
.push-335 {
    padding-left: 335px;
}

/* Type #2 - historic figures */
.historic-figures {
    font-size: 80px;
}

/* Type #3 - narrative */
.narrative {
    padding: 0 5%;
    font-size: 80px;
}

/* Type #4 - proportion */
.proportion {
    font-size: 3.750em;
}


/* ******************************************************** */

/* text sizing */
.big-280 {
    font-size: 280px;
}
.big-340 {
    font-size: 340px;
}
.big-480 {
    font-size: 480px;
    line-height: 1;
}

/* cheeky text spacing */
.shunt {
    margin-right: 0.75em;
}


/* ******************************************************** */

/* pie charts */
.user-satisfaction-pie {
    float: left;
    width: 80px;
    height: 80px;
}


/* ******************************************************** */

/* GOV.UK logo */
.crown {
    position:relative;
    top:2px;
}
.govuk {
    font-size: 95%;
    text-transform: uppercase;
    &.dot {
        position: relative;
        margin-left: -0.09em;
    }
}


/* ******************************************************** */

/* proportion layouts (just device at the moment) */
.proportion {
    color: $black;
    width: 100%;
    height: 100%;
    text-align: left;
    .title {
        position: relative;
        z-index: 1;
        padding: 1em 3% 0 3%;
    }
}
.proportion-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.proportion-unit {
    position: absolute;
    top: 0;
    bottom: 0;
    &.mobile-devices {
        color: $white;
        background-color: $link-active-colour;
    }
    &.desktop {
        background-color: $grey-2;
    }
}
.proportion-unit-content {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto 1em auto; 
    }
}
