@import 'fonts';
@import 'colours';

$tablet: "only screen and (min-width : 768px) and (max-width : 1024px)";
$tv: "only screen and (min-width : 1025px) and (max-width : 1300px)";


html {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /*cursor: none;*/
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-weight: bold;
	color: $black;
}

.item {
    position: absolute;
    box-sizing: border-box;
	width: 100%;
	height: 100%;
	right: -100%;
	top: 0%;
	transform: translateZ(0);
	transition: right 0.5s ease-out;
	border-left: 1px solid red;
	background-color: $white;
	&.now {
		right: 0%;
		z-index: 2;
	}
	&.prev {
		right: 100%;
		z-index: 1;
	}
}

.item-container {
    display: table;
    width: 100%;
    height: 100%;
}

.item-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.item-content {
    border: 1px solid red; //
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    font-size: 3.750em;
}


.realtime-users {
}

/* % sizing */
%big {
    line-height: 1;
}
.big-800 {
    font-size: 800%;
    @extend %big;
}

/* GOV.UK */
.govuk {
	font-size: 95%;
	text-transform: uppercase;
	&.dot {
    	position: relative;
    	margin-left: -0.09em;
    }
}

/*


.tax-disc {

    display: inline-block;
    text-align: left;
    
	font-size: 3.750em;
	@media #{$tablet} {
	    font-size: 2.500em;
	}
	@media #{$tv} {
	    font-size: 2.813em;
	}
	
	h1 {
	    margin: 0;
	}
	.govuk {
		font-size: 95%;
	}
	.govuk .dot {
		position: relative;
		margin-left: -0.09em;
	}
	
	.user-count {
	    margin: 0;
		font-size: 800%;
		line-height: 1;
		color: #006C56;
	}
	
	.users {
		display: inline-block;
		text-align: left;
	}
	.intro-strap {
		display: block;
	}
	.satisfaction {
		margin-top: -50px;
	}
	#satisfactionPie {
		display: inline-block;
		position: relative;
		top: 10px;
		margin-right: 16px;
	}
}
*/